ul { list-style-type: none; }
  .nested { display: none; } /* hide children by default */
  .caret {
    cursor: pointer;
    user-select: none; /* prevent text selection */
}
.caret::before {
    content: "▶"; /* triangle right */
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {
    transform: rotate(90deg); /* triangle down */
}

.hidden {
    display: none;
}

.caret.caret-down + .add-bt {
    display: inline-block;
    margin-left: 5px;
}